<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link width="" rel="shortcut icon" href="/images/logo-mercado-liebre.jpg" />

	<title>Todo Terreno</title>
	<!-- Font Awesome Stylesheet -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
	<!-- Bootstrap Grid Stylesheet -->
	<link rel="stylesheet" href="/css/bootstrap-grid.min.css">
	<!-- Own Stylesheet -->
	<link rel="stylesheet" href="/css/app.css">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Xanh+Mono:ital@0;1&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Xanh+Mono:ital@0;1&display=swap" rel="stylesheet">

</head>

<body>
	<!-- Header -->
	<%- include('./partials/header') %>
	<!-- /Header -->
	 
	<div class="col-12">
		<h2 class="products-title">Ingresar</h2>
	</div>
	<!-- Formulario Login -->
	<section class="login"> 
		<form action="/users/profile" method="get" class="formLogin">
			<label for="text">Usuario</label>
			<input id="email" name="email" type="text" placeholder="Ingrese su usuario">
			
			<label for="password">Contraseña</label>
			<input id="password" name="password" type="password" placeholder="Ingrese su contraseña">
			
			<label class="recordarme">
				<input type="checkbox" name="recordarme" value="r">
				Recordarme
			</label>

			<button type="submit">Iniciar Sesión</button>
		</form>
	</section>

	<!-- footer -->
	<%- include("./partials/footer") %>
	<!-- /footer -->
</body>

</html>